.wrapper {
  position: relative;
}

.column {
  /* max-height: 250px; */
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-main {
  position: static;
}

.menu-main .wrapper {
  position: absolute;
  z-index: 10;
  display: none;
}

.banner5 {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 100px;
}

.banner5:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  height: 0px;
  content: "";
}

.banner5 .container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .banner5 .container {
    width: 1400px;
  }
}

@media only screen and (min-width: 1500px) {
  .banner5 .container {
    width: 1400px !important;
  }
}

.banner5 .home-banner {
  display: flex;
  flex-wrap: wrap;
}

.banner5.home-5 .product-category-wrapper {
  width: 250px;
  margin-bottom: 40px;
  /* height: 410px;
    overflow: auto; */
}

.banner5 .product-category-list .column::-webkit-scrollbar {
  display: none;
}

.banner5 .product-category-list .column {
  height: 360px;
  overflow: scroll;
}

.banner5 .product-category {
  width: 250px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 768.98px) {
  .banner5 .product-category {
    display: none;
  }
}

.banner5 .product-category-toggle {
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
  cursor: pointer;

  height: 40px;
  color: #223771;
  display: flex;
  align-items: center;
}

.banner5 category .product-category-toggle strong {
  margin: 0 5px;
}

.banner5 .product-category .product-category-toggle em {
  font-size: 24px;
}

.banner5 .ri-align-left:before {
  content: "\ea27";
}

.banner5 .ri-arrow-drop-down-fill:before {
  content: "\ea4f";
}

.banner5.home-5 .product-category-wrapper .product-category-dropdown {
  display: block;
  position: static;
  right: 0;
  left: 0;
  z-index: 20;
  border: 1px solid #e5e5e5;
  min-width: 160px;
}

.banner5.home-5 .product-category-wrapper .product-category-list {
  -webkit-box-shadow: none;
  position: relative;
  box-shadow: none;
  padding: 4px 0px;
  background-color: #fff;
}

.banner5 .column .all-img {
  padding: 4px;
}

.banner5 .column .img-title {
  margin-left: 12px;
}

.banner5 .menu-main {
  margin-bottom: -5px;
  padding-bottom: 16px;
  gap: 10px;
  padding: 0.75em;
  padding-left: 1em;
  display: flex;
}

.banner5 .menu-main .list-name {
  /* margin-left: 50px; */
  margin-left: 15px;

  width: 160px;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner5 .img-nav img {
  /* position: absolute; */
  position: relative !important;

  width: 30px;
  height: 30px;
  object-fit: cover;
}

.banner5 .sub-menu-2 {
  display: none;
  z-index: 5;
  margin-top: 0;
}

.banner5 .menu-main .sub-menu-2 ul {
  margin: 0;
  padding: 0;
  gap: 0;
  left: 0;
  top: 0;
  list-style: none;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
}
.banner5 .menu-main .sub-menu-2 ul li {
  width: 250px;
}
.banner5 .menu-main .sub-menu-2 ul li .sub-menu-2-item {
  padding: 0;
}
.banner5 .menu-main .sub-menu-2 ul li .sub-menu-2-item a {
  padding: 0.75em;
  top: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.banner5 .sub-menu-2-item .image img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.banner5 .menu-main .list-names {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .banner5 .menu-main:hover {
    box-shadow: 0 0 4px 0 #cecece;
} */

.banner5 .all-img:hover {
  box-shadow: 0 0 4px 0 #cecece;
}

.banner5 .sub-menu-2-item:hover {
  box-shadow: 0px 0px 4px 0px #cecece;
}
.menu-main:hover .sub-menu-2 {
  display: block !important;
}

/* .banner5 .menu-main:hover .sub-menu-2 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    z-index: 5;
    margin-left: 220px;
} */

.banner5.home-5 .big-banner-promo-wrapper {
  width: 57.94309%;
}

.banner5.home-5 .big-banner-promo {
  position: relative;
  padding-left: 5px;
}

@media screen and (min-width: 1280.98px) {
  .banner5 .big-banner-promo {
    height: 450px;
    overflow: hidden;
  }
}

.banner5 .slick-prev {
  left: 0px;
}

.banner5 .slick-prev,
.banner5 .slick-next {
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding: 0.5em;
  width: 30px;
  height: 40px;
  z-index: 3;
  border-radius: 4px;
  position: absolute;
  top: 50%;
}

.banner5 .slick-next {
  right: 0px;
}

.banner5.home-5 .big-banner-promo .img {
  display: block;
  position: relative;
  padding-top: 62.5%;
}

.banner5.home-5 .big-banner-promo .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 410px;
}

.banner5 .list-banner {
  height: 410px;
}
.list-banner::-webkit-scrollbar {
  width: 0px;
}
/* @media (max-width:600px){
  .banner5.home-5 .big-banner-promo .img img{
          height: 400px;
      }
  }
  @media (min-width:600px){
  .banner5.home-5 .big-banner-promo .img img{
          height: 400px;
      }
  }
  @media (min-width:992px){
  .banner5.home-5 .big-banner-promo .img img{
          height: 500px;
      }
  }
  @media (min-width:1200px){
  .banner5.home-5 .big-banner-promo .img img{
          height: 700px;
      }
  }
  @media (min-width:1500px){
  .banner5.home-5 .big-banner-promo .img img{
          height: 700px;
      }
  }  */
.banner5.home-5 .small-banner-promo-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.banner5.home-5 .small-banner-promo {
  padding-left: 5px;
}

.banner5.home-5 .small-banner-promo .img {
  display: block;
  position: relative;
  padding-top: 62%;
}

.banner5.home-5 .small-banner-promo .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner5.home-5 .feature-group-wrap {
  width: 100%;
  color: #223771;
}

.banner5 .section-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.375;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 768.98px) {
  .banner5 .section-title {
    margin-bottom: 5px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .big-banner-promo-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category-wrapper {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    overflow: hidden;
    height: unset;
    display: none;
  }
  .banner5.home-5 .big-banner-promo .object-fit-img{
    height: 100%;
  }
  .banner5.home-5 .big-banner-promo .object-fit-img img{
    object-fit: initial;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category {
    width: 100%;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category-wrapper .product-category-toggle {
    background-color: #fff;
    background-image: none;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category-toggle {
    border-bottom: 1px solid #eee;
    height: 50px;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category-toggle strong {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category .product-category-link .arrow,
  .home-5 .product-category-toggle em {
    display: none;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category .product-category-dropdown {
    border: 0;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5::before {
    background-color: #f7f8f9;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .product-category .product-category-list {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px;
  }
}

.banner5.home-5 .product-category {
  width: 100%;
}

@media screen and (max-width: 1024.98px) {
  .banner5 .hidden-mobile {
    display: contents;
  }

  .banner5 .list-banner {
    height: 0px !important;
  }
}

@media screen and (max-width: 1024.98px) {
  .banner5.home-5 .feature-group-wrap {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .banner5.home-5 {
    width: 100%;

    overflow-x: hidden;
  }
}

@media screen and (max-width: 576px) {
  .banner5.home-5 .big-banner-promo-wrapper {
    position: relative;
    padding-top: 20.5%;
  }
}

@media screen and (max-width: 576px) {
  .banner5.home-5 .big-banner-promo-wrapper .big-banner-promo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .banner5.home-5 .feature-group-wrap {
    padding-top: 120px;
    color: #223771;
  }
}

@media screen and (max-width: 576px) {
  .banner5 .swiper-slide {
    height: 250px;
    overflow: hidden;
  }
  .banner5.home-5 .big-banner-promo .object-fit-img img{
    height: 250px;
  }
}

@media screen and (min-width: 576px) {
  .banner5 .swiper-slide {
    height: 434px;
    overflow: hidden;
  }
}
