.home-1 {
  position: relative;
}

.home-banner {
  display: flex;
}

.home-1 .product-category-wrapper {
  width: 250px;
}

@media only screen and (min-width: 1200px) {
  .main-header7 .home-page .categories-columns,
  .products-list-page .categories-columns,
  .news-list-page .categories-columns {
    border-radius: 0.25em;
    overflow: hidden;
    width: 250px;
  }

  .hidden-logo-top {
    background: gray;
    display: block;
    z-index: 1000;
    height: 53px;
    width: 151px;
    padding: 20px;
    margin-top: 6px;
    position: fixed;
    left: 88px;
    opacity: 0;
  }

  .products-list-page > .row .products-list {
    border-radius: 0.25em;
    overflow: hidden;
    min-height: calc(100vh - 8.5em);
    width: calc(100% - 250px);
    padding-left: 6px;
  }

  .news-list-page > .row .news-list {
    width: calc(100% - 250px);
  }

  .news-list-page > .row .categories-column {
    /* background-color: white; */
    border-radius: 0.25em;
    overflow: hidden;
    width: 220px;
  }

  .box-about {
    gap: 35px;
  }

  .breadcrumbs {
    width: 100%;
    padding: 10px 515px 10px 0;
    color: #6c6e79;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .cps-group-input {
    width: 200px;
    border-radius: 11px;
    margin: 9.5px;
    margin-right: 67px;
    margin-left: 22px;
    padding-top: 5px;
    padding-left: 10px;
    background: white;
    position: relative;
  }

  .product-category-wrapper {
    display: block;
  }

  .home-1 .swiper-slide {
    /* height: 330px; */
    /* overflow: hidden; */
    /* padding-top: 10px; */
  }
}

.main-header7 .col-2,
.col-3 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

@media (min-width: 768.98px) {
  .main-header7 .col-md-1,
  .main-header7 .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media (max-width: 1024.98px) {
  .box-user {
    width: 16% !important;
  }
}

@media (min-width: 1024.98px) {
  .main-header7 .col-lg-1,
  .main-header7 .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media (min-width: 1280px) {
  .main-header7 .col-xl-1,
  .main-header7 .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

.main-header7 .image-top-header img {
  width: 100%;
  height: 42px;
  object-fit: contain;
}

.main-header7 .col-9 {
  flex: 0 0 75%;
  margin-left: 28px;
  margin-top: 2px;
  max-width: 75%;
}

.main-header .col-sm-6 {
  flex: 0 0 45%;
  margin-left: 28px;
  margin-top: 2px;
  max-width: 45%;
}

@media screen and (max-width: 768.98px) {
  .search-wrapper {
    /* max-width: 65% !important; */
  }
}

@media (min-width: 768.98px) {
  .main-header7 .col-md-7,
  .main-header7 .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56.33333%;
    flex: 0 0 56.33333%;
    max-width: 56.33333%;
  }
}

@media (min-width: 1024px) {
  .main-header7 .col-md-7,
  .main-header7 .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
}

/* @media (min-width: 1024.98px){
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
} */

@media (min-width: 1280px) {
  .main-header7 .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* .main-header7 .search-header-top input {
    background: white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
} */

/* @media only screen and (max-width: 499px) {
    .search-header {
        position: relative;
    }
    .main-header7 .search-header-top input {
        width: 270px;
        border-radius: 5px;
        position: relative;
    }
}

@media only screen and (min-width: 500px) {
    .main-header7 .search-header {
        position: relative;
    }
}

@media only screen and (min-width: 500px) {
    .main-header7 .search-header-top input {
        margin-left: 20px;
        max-width: 375px;
        background: white;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .main-header7 .search-header-top input {
        width: 345px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .main-header7 .search-header-top input {
        width: 345px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .main-header7 .search-header-top input {
        max-width: 435px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .main-header7 .search-header-top input {
        min-width: 530px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 20px;
    }
} */

/* .main-header7 .search-header-top .sumbit-search {
    padding: 9px 10px 7px 9px;
    cursor: pointer;
    background: rgb(126, 211, 33);
    margin-top: 3px;
    color: white;
    border-radius: 5px;
    line-height: 5px;
    position: absolute;
} */

/* @media only screen and (max-width: 499px) {
    .main-header7 .search-header-top .sumbit-search {
        left: 233px;
        position: absolute;
        margin-top: 0;
    }

    .search-text {
        display: none;
    }
    .main-header7 .sumbit-search .fa-search{
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 500px) {
    .main-header7 .sumbit-search {
        margin-top: 2px;
        color: white;
        border-radius: 5px;
        line-height: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-header7 .sumbit-search {
        left: 265px;
        position: absolute;
    }
}

@media only screen and (min-width: 1280px) {
    .main-header7 .sumbit-search {
        left: 448px;
        position: absolute;
    }
} */

/* @media only screen and (min-width: 1280px) {
    .main-header7 .sumbit-search {
        left: 448px;
    }
} */

@media only screen and (min-width: 1025px) {
  .main-header7 .box-call {
    display: block;
  }
}
/* .main-header7 .sumbit-search .fa-search {
    margin-right: 10px;
} */

@media (min-width: 992px) {
  .main-header7 .col-lg-2 {
    flex: 0 0 16.666667%;
    width: 16.666667%;
  }
}

@media (min-width: 1024.98px) {
  .main-header7 .col-lg-1,
  .main-header7 .col-lg-2 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media (min-width: 1024.98px) {
  .main-header7 .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .main-header7 .col-xl-2 {
    flex: 0 0 16.666667%;
    width: 16.666667%;
  }
}

@media (min-width: 1280px) {
  .main-header7 .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.main-header7 .about-1 {
  margin-left: auto;
  cursor: pointer;
  column-gap: 5px;
}

.main-header7 .about__box-icon {
  width: 30px;
  position: relative;
}

@media (min-width: 768.98px) {
  .main-header7 .col-md-3,
  .main-header7 .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1024.98px) {
  .main-header7 .col-lg-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1280px) {
  .main-header7 .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.main-header7 .user {
  margin-left: auto;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .main-header7 .user {
    display: none !important;
  }
}

@media (min-width: 768.98px) {
  .main-header7 .col-md-1,
  .main-header7 .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media (min-width: 1280px) {
  .main-header7 .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media only screen and (min-width: 500px) {
  .main-header7 .about-4 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .main-header7 .about-4 {
    display: block;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .main-header7 .about-4 {
    display: block;
    display: flex;
  }
}

.main-header7 .about__box-icon {
  width: 30px;
  position: relative;
}

.main-header7 .about__box-icon .number-cart {
  font-weight: 800;
  top: 11px;
  color: white;
  font-size: 14px;
  left: 11px;
  margin-right: -58px;
  position: absolute;
}

.main-header7 .box-cart h5 {
  margin-left: 6px;

  color: white;
  font-size: 11px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main-header7 .box-login {
    padding-top: 2px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-header7 .box-login {
    display: block;
  }
}

@media screen and (max-width: 1024.98px) {
  .main-header7 .hidden-mobile {
    display: none !important;
  }
}

/* @media only screen and (min-width: 500px) {
    .main-header7 .sumbit-search {
        margin-top: 2px;
        color: white;
        border-radius: 5px;
        line-height: 5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-header7 .sumbit-search {
        left: 298px;
        position: absolute;
    }
}

@media only screen and (min-width: 500px) {
    .main-header7 .search-header-top input {
        margin-left: 20px;
    }
} */

/* @media only screen and (min-width: 500px) {
    .main-header7 .search-header-top input {
        margin-left: 20px;
        max-width: 375px;
        background: white;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1199px) and (min-width: 991px) {
    .main-header7 .sumbit-search {
        left: 267px;
        position: absolute;
    }
}

@media only screen and (min-width: 500px) and (max-width: 525px) {
    .main-header7 .sumbit-search {
        left: 222px;
        position: absolute;
    }
}

@media only screen and (min-width: 500px) and (max-width: 525px) {
    .main-header7 .search-header-top input {
        width: 300px;
        border-radius: 5px;
        position: relative;
    }
}

@media only screen and (min-width: 525px) and (max-width: 768px) {
    .main-header7 .search-header-top input {
        width: 337px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        position: relative;
    }
}

@media only screen and (min-width: 525px) and (max-width: 768px) {
    .main-header7 .sumbit-search {
        left: 258px;
        position: absolute;
    }
} */

@media only screen and (min-width: 500px) {
  .main-header7 .about-4 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .main-header7 .about-4 {
    display: block;
    display: flex;
  }
}

/* @media (max-width: 991px) and (min-width: 767px) {
    .main-header7 .search-header input {
        width: 375px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 20px;
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    .main-header7 .sumbit-search {
        left: 297px;
        position: absolute;
    }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-header7 .box-login {
    display: block;
  }

  .main-header7 .user {
    margin-left: auto;
    display: block;
  }

  .main-header7 .login {
    display: block;
  }

  .main-header7 .col-md-3 {
    flex: 0 0 25%;
    width: 25%;
    order: 0;
    margin: 0 15px;
  }
}

.main-header7 .nav-header {
  padding: 20px;
}

.search-header {
  position: relative;
  margin-right: 10px;
}
.search-header input {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}
.search-header .sumbit-search {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  column-gap: 10px;
}
@media only screen and (max-width: 400px) {
  .search-header-top {
    margin-left: 10px !important;
  }
  .search-header {
    margin-right: 0px;
  }
  .search-header .sumbit-search span {
    display: none;
  }
}
